<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <bean id="c" class="com.mu.pojo.cat"/>
    <bean id="d" class="com.mu.pojo.dog"/>
    <bean id="people" class="com.mu.pojo.people"/>
        <!--
        byname会在上下文查找set后面值对于的beanid
        -->
        <!--
        byType会在上下文查找自己对象属性类型相同的beanid
        -->



</beans>